*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    background: rgb(6, 6, 176);
    margin: auto 200px;
}

.download{
   
    box-shadow: 0 2px 4px black;
   
}



.search{    
   
    margin: 20px;

   
}

form{
    width: 500px;
   border: solid black;
   margin: 10px;
   height: 100px;
}