{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senddoc</title>
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
    <link rel="stylesheet" href="/static/css/image.css">
    
</head>
<body>
    <div class="container">
        <div class="form">
            <form method="post">
                {% csrf_token %}
                <label for="name">username</label>
                <input type="text" name="name" placeholder="username">
                <label for="image">Image_File</label>
                <input type="file" name="image" placeholder="image">
                <button>Envoyer</button>
            </form>
        </div>
    </div>
</body>
</html>