{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="website icon" type="png" href="{% static 'icon/book.png' %}" style="width: 90px;">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <div class="container">
        {% if message %}
        
        <div class="download">
            <a href="{% url 'docs' %}">docs</a>
            
            <div class="search">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="input">
                        <label for="title">Titre</label>
                        <input type="text" placeholder="text" name="title" required>
                        <label for="semestre">Semestre</label>
                        <input type="number" name="semestre" required>
                        <label for="upload_file">Fichier</label>
                        <input type="file" id="upload_file" name="upload_file" required>
                        <button id="button">Envoyer</button>
                    </div>
                </form>
            </div>
            <div class="doc"></div>

        </div>
        
        {% endif %}
       
        <!-- all doc -->
         {% if docs %}
         <div class="doc-container">
            <a href="{% url 'home' %}">Envoyer un document</a>
            <div class="upload">
               
            {% for doc in docs %}
            
               <div class="doc">
                   <p class="p">{{doc.title}}</p> <p class="s">semestre: {{doc.semestre}}</p> <a href="{% url 'upload' doc.id %}">Telecharger</a>
                 </div>
            
              
               {% endfor %}
   
            </div>
         </div>
         
        {% endif %}
    </div>
   
</body>
</html>