<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senddoc</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="website icon" type="png" href="/static/icon/book.png">
    <link rel="stylesheet" href="{% static 'icon/book.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <!----------Header------------------------>
        <div class="header">
            <div class="header_p">
                <h2> <span>Université</span> de Kara</h2>
            </div>
        </div>
        <!--_______________Fin Header___________________-->

        <!-----------------Plaine------------------------------->
        <div class="plaine">
            <div class="text">
                <div class="text_p">
                    <h1>Telecharger vos cours <span>PDF</span> </h1>
                <p>Ce plateforme est cree dans le bus </p>
                <p>de parteger et telecharger vos cours</p>
                </div>
                
            </div>
            <div class="plaine-image">
                <img src="/static/image/travaille.jpg" alt="present">
            </div>
        </div>
        <!--_________________________Fin plaine__________________________-->

        <!--------------------Search------------------------->
        <div class="search">
            <form method="post" id="searchForm">
                {% csrf_token %}
                <div class="faculter">
                    <label for="Faculte">Faculte</label>
                    <select name="faculte" id="faculter">
                        <option value="Fast">Fast</option>
                        <option value="FDSP">FDSP</option>
                        <option value="ISMA">ISMA</option>
                        <option value="FaSEG">FaSEG</option>
                    </select>
                </div>
                <div class="departement">
                    <label for="departement">Departement</label>
                    <select name="departement" id="departement">
                        <option value="LSVT">LSVT</option>
                        <option value="Mathematique">Mathematique</option>
                        <option value="CHIMIE">CHIME</option>
                        <option value="Economie">ECONOMIE</option>
                        <option value="gestion">GESTION</option>
                    </select>
                </div>
                <button type="submit" id="searchButton">Rechercher</button>
            </form>
        </div>
        <!--__________________Fin Search____________________-->
        <!------------------Content---------------------------------->
         <div id="message" style="color: red; text-align: center; margin-bottom: 100px; font-weight: bold; font-size: 40px;"></div>
        
        <div class="content" id="results">
            
        </div>
       
        <!--_______________________Fin Content_________________________-->
    </div>
   <script>
        $(document).ready(function(){
            $('#searchForm').on('submit', function(event){
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'home' %}",
                    data: $(this).serialize(),
                    success: function(response){
                        $('#message').text('');
                        $('#results').html('');
                        if (response.message){
                            $("#message").text(response.message);

                        }else {
                            let table = '<table><caption><span>Licence </span> en Science de la vie et de la terre</caption><thead><tr><td>ID</td><td>UE</td><td>Semestre</td><td>Crédit</td><td>Télécharger</td></tr></thead><tbody>';
                            $.each(response.results, function(index, result){
                                table += '<tr><td class="td-1"><span>1</span></td><td class="td-2">' + result.ue + '</td><td class="td-3">Semestre ' + result.semestre + '</td><td class="td-4">' + result.credit + '</td><td class="td-5"><a href="#">Télécharger</a></td></tr>';
                            });
                            table += '</tbody></table>';
                            $('#results').html(table);
                        }
                    },
                    error: function(response){
                        console.log("error",response)
                    }
                })
            })
        })
   </script>
</body>
</html>